vti_encoding:SR|utf8-nl
vti_author:SR|NT\\jstewart
vti_modifiedby:SR|NT\\jstewart
vti_timelastmodified:TR|10 Jun 2001 22:17:46 -0000
vti_timecreated:TR|10 Jun 2001 22:17:46 -0000
vti_cacheddtm:TX|10 Jun 2001 22:17:46 -0000
vti_filesize:IR|1483
vti_cachedlinkinfo:VX|S|axibanr.gif S|axirule.gif S|axibul1.gif S|axibul2.gif S|axibul3.gif S|axihsel.gif S|axihbtn.gif S|axivsel.gif S|axivbtn.gif S|axihom.gif S|axiup.gif S|axibck.gif S|axinxt.gif S|axibul1.gif S|axibul2.gif S|axibul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/axis/axibanr.gif FSUS|_themes/axis/axirule.gif FSUS|_themes/axis/axibul1.gif FSUS|_themes/axis/axibul2.gif FSUS|_themes/axis/axibul3.gif FSUS|_themes/axis/axihsel.gif FSUS|_themes/axis/axihbtn.gif FSUS|_themes/axis/axivsel.gif FSUS|_themes/axis/axivbtn.gif FSUS|_themes/axis/axihom.gif FSUS|_themes/axis/axiup.gif FSUS|_themes/axis/axibck.gif FSUS|_themes/axis/axinxt.gif FSUS|_themes/axis/axibul1.gif FSUS|_themes/axis/axibul2.gif FSUS|_themes/axis/axibul3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{56BF4DD0-5DEC-11D5-8185-0060081F2E4F}
vti_backlinkinfo:VX|
